* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  background-color: #0b2434;
  background:  url("./img/bg-img.avif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

body {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  border-bottom: 6px solid #d4a373;
  /* border-image: linear-gradient(
    to bottom right,
    #40e305 0%,
    #2c90fc 25%,
    #ff02e3 50%,
    #fec837 75%,
    #30b31d 100%
  );
  border-image-slice: 1; */
}

h2 {
  font-size: 2rem;
}

p {
  text-align: center;
  font-size: 1rem;
  margin: 0.5em;
}


span {
  font-size: 1rem;
}


.container {
  background-color: #f2e8cf;
  margin-top: 9em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.description {
    width: 70%;
}

.dice-container {
  display: grid;
  grid-template-columns: repeat(5, 2.25em);
  grid-template-rows: repeat(3, 2.25em);
  grid-gap: 1.7em;
  margin-top: 2em;
  justify-items: center;
}

.die-face {
  display: flex;
  width: 3em;
  height: 3em;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  cursor: pointer;
}

.container__bottom-row {
  align-self: center;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 1.5em;
  margin-top: 1.5em;
}

.bottom-row__roll-counter {
  font-weight: 700;
  text-align: center;
  margin: 0;
}

.timer {
  text-align: center;
  width: 3.5em;
}

.digits {
  font-size: 0.8rem;
  font-weight: 700;
}

button {
  font-size: 1.3rem;
  padding: 0.5em 1.5em;
  font-family: inherit;
  color: #ffffff;
  background: #005f73;
  box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

@media (min-width: 420px) {
  .container {
    width: 65%;
    position: relative;
    top: 10em;
    margin: auto;
  }
}

@media (max-width: 375px) {
  .container {
    margin-top: 1em;
    max-width: 22em;
}

.dice-container {
    grid-gap: 1.5em;
}
}